html, body {
	height:100%;
	background: url('/images/cartographer.png') repeat fixed;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #FFF;
}

section {
	-webkit-box-flex: 5;
	-moz-box-flex: 5;
	-ms-box-flex: 5;
	box-flex: 5;

	-webkit-flex: 5;
	-moz-flex: 5;
	-ms-flex: 5;
	flex: 5;
}

footer {
	position: absolute;
	bottom: 5px;
	left: 5px;
	color: #777;
	font-size: 100%;
}

footer>a:link {
	text-decoration: none;
	color: #777;
}

footer>a:visited {
	text-decoration: none;
	color: #777;
}

footer>a:hover {
	text-decoration: none;
	color: #777;
}

footer>a:active {
	text-decoration: none;
	color: #777;
}
h1 {
	padding-top: 75px;
	font-size: 400%;
	margin: 0 0 0 0;
	padding: 0;
}

h2 {
	font-size: 200%;
	margin: 10px 0 0 0;
	padding: 0;
}

h3 {
	font-size: 300%;
}

p {
	font-size: 200%;
}

a:link {
	text-decoration: none;
	color: #FFF;
}

a:visited {
	text-decoration: none;
	color: #FFF;
}

a:hover {
	text-decoration: none;
	color: #FFF;
}

a:active {
	text-decoration: none;
	color: #FFF;
}

.fa-times {
	position: fixed;
	top: 0;
	right: 0;
	font-size: 200%;
}

.fa-question {
	cursor: pointer;
	cursor: hand;
	color: #777;
}

.fa-times {
	cursor: pointer;
	cursor: hand;
	color: #777;
}

.main {
	width: 100%;
	display: block;
	overflow: auto;
	text-align:center;

	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-ms-box-flex: 1;
	box-flex: 1;

	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;

	align-items: center;
	justify-content: center;
}

.overlay {
	position: absolute;
	display: none;
	background-color: rgba(0,0,0,.9);
	min-width: 100%;
	min-height: 100%;
	text-align:center;
	z-index: 99999;
}

.about {
	position: absolute;
	bottom: 0px;
	right: 5px;
	font-size: 200%;
	margin: 0;
}

.vbox {
	display: -webkit-box;
	display: -moz-box;
	display: box;

	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-ms-box-orient: vertical;
	box-orient: vertical;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;

	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.hbox {
	display: -webkit-box;
	display:    -moz-box;
	display:     -ms-box;
	display:         box;

	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-ms-box-orient: horizontal;
	box-orient: horizontal;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;

	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
}
